# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Mathew Teoh
#	email = mteoh@brain.im
[user]
	email = mteoh@brain.im
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	graph = log --graph --oneline --all
[credential]
	helper = store
[color]
	ui = auto
