[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux_mode_indicator"]
	path = .tmux/plugins/tmux_mode_indicator
	url = https://github.com/dominikduda/tmux_mode_indicator.git
[submodule ".vim/pack/my-plugins/start/ack.vim"]
	path = .vim/pack/my-plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/my-plugins/start/auto-pairs"]
	path = .vim/pack/my-plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/my-plugins/start/command-t"]
	path = .vim/pack/my-plugins/start/command-t
	url = https://github.com/wincent/command-t.git
[submodule ".vim/pack/my-plugins/start/ctrlp.vim"]
	path = .vim/pack/my-plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/my-plugins/start/fugitive"]
	path = .vim/pack/my-plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/my-plugins/start/goyo.vim"]
	path = .vim/pack/my-plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/pack/my-plugins/start/lightline.vim"]
	path = .vim/pack/my-plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/my-plugins/start/seoul256.vim"]
	path = .vim/pack/my-plugins/start/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule ".vim/pack/my-plugins/start/vim-gitgutter"]
	path = .vim/pack/my-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/my-plugins/start/vim-startify"]
	path = .vim/pack/my-plugins/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule ".vim/pack/my-plugins/start/vim-zoom"]
	path = .vim/pack/my-plugins/start/vim-zoom
	url = https://github.com/dhruvasagar/vim-zoom.git
[submodule ".vim/pack/my-plugins/start/vim-surround"]
	path = .vim/pack/my-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/my-plugins/start/flake8-vim"]
	path = .vim/pack/my-plugins/start/flake8-vim
	url = https://github.com/andviro/flake8-vim.git
[submodule ".vim/pack/my-plugins/start/commentary"]
	path = .vim/pack/my-plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/my-plugins/start/rainbow_csv"]
	path = .vim/pack/my-plugins/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule ".vim/pack/my-plugins/start/vim-python-pep8-indent"]
	path = .vim/pack/my-plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule ".vim/pack/my-plugins/start/vim-signature"]
	path = .vim/pack/my-plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/pack/my-plugins/start/vim-sneak"]
	path = .vim/pack/my-plugins/start/vim-sneak
	url = git://github.com/justinmk/vim-sneak.git
[submodule ".tmux/plugins/tmux-pain-control"]
	path = .tmux/plugins/tmux-pain-control
	url = https://git::@github.com/tmux-plugins/tmux-pain-control
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule ".vim/pack/my-plugins/start/peaksea.vim"]
	path = .vim/pack/my-plugins/start/peaksea.vim
	url = https://github.com/calincru/peaksea.vim.git
[submodule ".vim/pack/my-plugins/start/vim-afterglow"]
	path = .vim/pack/my-plugins/start/vim-afterglow
	url = https://github.com/danilo-augusto/vim-afterglow.git
[submodule ".vim/pack/themes/opt/dracula"]
	path = .vim/pack/themes/opt/dracula
	url = https://github.com/dracula/vim.git
[submodule ".tmux/plugins/tmux-reset"]
	path = .tmux/plugins/tmux-reset
	url = https://github.com/hallazzang/tmux-reset.git
[submodule ".vim/pack/themes/opt/dark_purple"]
	path = .vim/pack/themes/opt/dark_purple
	url = https://github.com/shapeoflambda/dark-purple.vim
